
.bg-section-01-gradient{
    background-image: url(../assets/img/bg-news.png);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .bg-all{
   background-image: url(../assets/img/bg-all-tmp.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    
  }
  .bg-top-all{
     background-image: url(../assets/img/bg-all-tmp.png);
     background-size: 100%;
     background-position: top;
     background-repeat: no-repeat;
  }
